.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
    font-size: 0.9em;
}

.small-desc {
    font-size: 0.7em;
}

@media screen and (max-width: 700px) {
    .ui-autocomplete {
        max-width: 370px!important;
    }
}