<div xmlns:th="http://www.thymeleaf.org">
    <div class="card card-body my-5" th:fragment="frag (changelog)">
        <!--/*@thymesVar id="changelog" type="org.screamingsandals.nms.mapper.newweb.components.Changelog"*/-->
        <h5 class="card-title">
            <a th:href="${changelog.link}">[[${changelog.version}]]</a>
        </h5>
        <th:block th:if="${changelog.nameMappings.isEmpty() && changelog.constructorChanges.isEmpty() && changelog.fieldChanges.isEmpty() && changelog.methodChanges.isEmpty()}">
            <p><i>No changes so far.</i></p>
        </th:block>
        <th:block th:if="${changelog.first}">
            <p><i>First known occurrence</i></p>
        </th:block>
        <th:block th:unless="${changelog.nameMappings.isEmpty()}">
            <h6 class="card-subtitle mt-1 my-2 text-muted">Name mapping</h6>
            <th:block th:each="mapping : ${changelog.nameMappings}">
                <div th:if="${mapping.value.key}" class="alert-danger font-monospace">- [[${mapping.key.webName}]]: [[${mapping.value.key}]]</div>
                <div th:if="${mapping.value.value}" th:class="'font-monospace alert-' + (${changelog.first} ? 'info' : 'success')">[[${changelog.first} ? '' : '+']] [[${mapping.key.webName}]]: [[${mapping.value.value}]]</div>
            </th:block>
        </th:block>
        <th:block th:unless="${changelog.constructorChanges.isEmpty()}">
            <h6 class="card-subtitle mt-1 my-2 text-muted">Constructors</h6>
            <th:block th:each="changedSymbol : ${changelog.constructorChanges}">
                <th:block th:replace=":: change (${changedSymbol})" />
            </th:block>
        </th:block>
        <th:block th:unless="${changelog.fieldChanges.isEmpty()}">
            <h6 class="card-subtitle mt-1 my-2 text-muted">Fields</h6>
            <th:block th:each="changedSymbol : ${changelog.fieldChanges}">
                <th:block th:replace=":: change (${changedSymbol})" />
            </th:block>
        </th:block>
        <th:block th:unless="${changelog.methodChanges.isEmpty()}">
            <h6 class="card-subtitle mt-1 my-2 text-muted">Methods</h6>
            <th:block th:each="changedSymbol : ${changelog.methodChanges}">
                <th:block th:replace=":: change (${changedSymbol})" />
            </th:block>
        </th:block>
    </div>

    <div th:fragment="change (changedSymbol)" th:class="'font-monospace alert-' + (${changedSymbol.addition} ? (${changelog.first} ? 'info' : 'success') : 'danger')">
        <!--/*@thymesVar id="changedSymbol" type="org.screamingsandals.nms.mapper.newweb.components.ChangedSymbol"*/-->
        [[${changedSymbol.addition} ? (${changelog.first} ? '' : '+') : '-']] [(${changedSymbol.returnType}? ${changedSymbol.returnType.rendered})]
        <th:block th:if="${changedSymbol.canHaveArguments}">(<span th:remove="tag" th:each="arg,iterStat : ${changedSymbol.arguments}">[(${arg.rendered})][[${!iterStat.last}? ', ']]</span>)</th:block>
        <th:block th:if="${changedSymbol.mappings}" th:each="mapping,iterStat : ${changedSymbol.mappings}">
            [[${mapping.key.webName}]]: [[${mapping.value}]][[${!iterStat.last}? ', ']]
        </th:block>
    </div>
</div>