<div xmlns:th="http://www.thymeleaf.org" th:fragment="constructorSummary (symbols)">
    <b class="badge bg-info m-1">Constructor summary</b>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="py-1">Modifier</th>
                <th class="py-1">Constructor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="symbol: ${symbols}">
                <!--/*@thymesVar id="symbol" type="org.screamingsandals.nms.mapper.newweb.components.Constructor"*/-->
                <td>[[${symbol.modifier}]]</td>
                <td>
                    (<span th:remove="tag" th:each="argument,iterStat: ${symbol.arguments}">[(${argument.link.rendered})] [[${argument.name}]][[${!iterStat.last}? ', ']]</span>)
                </td>
            </tr>
        </tbody>
    </table>
</div>