<div xmlns:th="http://www.thymeleaf.org" th:fragment="symbolSummary (symbolName, symbols)">
    <b class="badge bg-info m-1">[[${symbolName}]] summary</b>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="py-1">Modified and Type</th>
                <th class="py-1">[[${symbolName}]]</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="symbol: ${symbols}">
                <!--/*@thymesVar id="symbol" type="org.screamingsandals.nms.mapper.newweb.components.Symbol"*/-->
                <td>[[${symbol.modifier}]] [(${symbol.type}? ${symbol.type.rendered})]</td>
                <td th:insert="~{fragments/mappings :: frag (${symbol.mappings})}"></td>
            </tr>
        </tbody>
    </table>
</div>