<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/head}"></head>
    <body>
        <nav th:replace="~{fragments/nav}"></nav>

        <div class="container">
            <h1 th:text="${pageTitle}"></h1>
            <p th:if="${extends}">extends
                <th:block th:replace="~{fragments/reference::frag (${extends})}" />
            </p>

            <div class="row">
                <div class="col-sm-11">
                    <div th:unless="${knownSuperinterfaces.isEmpty()}">
                        <div>
                            <b>All known superinterfaces:</b>
                        </div>
                        <div th:each="superinterface, iterStat : ${knownSuperinterfaces}">
                            <th:block th:replace="~{fragments/reference::frag (${superinterface})}" />
                            <th:block th:unless="${iterStat.last}">,</th:block>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div th:replace="~{fragments/usage}"></div>
                </div>
            </div>

            <hr>

            <th:block th:replace="~{fragments/version-alerts}" />

            <th:block th:replace="~{fragments/mappings :: frag (${classMappings})}" />

            <hr>

            <th:block th:unless="${classFields.isEmpty()}" th:insert="~{fragments/symbol-map :: symbolSummary ('Field',${classFields})}" />

            <th:block th:unless="${classConstructors.isEmpty()}" th:insert="~{fragments/symbol-map :: symbolSummary ('Constructor',${classConstructors})}" />

            <th:block th:unless="${classMethods.isEmpty()}" th:insert="~{fragments/symbol-map :: symbolSummary ('Method',${classMethods})}" />

            <footer th:replace="~{fragments/footer}"></footer>
        </div>
    </body>
</html>