<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/head}"></head>
    <body>
        <nav th:replace="~{fragments/nav :: frag (false)}"></nav>

        <div class="container">
            <h1>[[${pageTitle}]]</h1>

            <th:block th:each="mapping : ${versions}">
                <th:block th:replace="~{fragments/changelog :: frag (${mapping})}" />
            </th:block>

            <footer th:replace="~{fragments/footer}"></footer>
        </div>
    </body>
</html>