<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/head}"></head>
    <body>
        <nav th:replace="~{fragments/nav}"></nav>

        <div class="container">
            <h1 th:text="${pageTitle}"></h1>

            <th:block th:replace="~{fragments/version-alerts}" />

            <th:block th:if="${licenses}">
                <button class="btn btn-primary btn-sm btn-block mb-2 w-100" onclick="document.getElementById('licenses').classList.toggle('d-none')">
                    Show/hide licenses
                </button>

                <div class="d-none" id="licenses">
                    <div th:each="license : ${#lists.sort(licenses)}" th:class="'card text-white mb-1 bg-'+${license.mappingType.bootstrapColor}">
                        <div class="card-header">[[${license.mappingType.getWebName()}]] license</div>
                        <div class="card-body" style="white-space: pre-wrap;">[[${license.license}]]</div>
                        <div class="card-footer" th:each="link : ${license.links}">
                            <a th:href="${link}" class="d-block text-white">[[${link}]]</a>
                        </div>
                    </div>
                </div>
            </th:block>

            <div th:if="${packages}">
                <b class="badge bg-info m-1">Packages</b>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="py-1">Package</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="package : ${#lists.sort(#lists.toList(packages))}" class="py-1">
                            <td>
                                <a th:href="${package.replace('.', '/')+'/index.html'}">[[${package}]]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer th:replace="~{fragments/footer}"></footer>
        </div>
    </body>
</html>