<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/head}"></head>
    <body>
        <nav th:replace="~{fragments/nav}"></nav>

        <div class="container">
            <h1 th:text="${pageTitle}"></h1>

            <th:block th:replace="~{fragments/version-alerts}" />

            <div th:unless="${interfaces.isEmpty()}">
                <b class="badge bg-info m-1">Interface summary</b>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="py-1">Interface</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="interface : ${#lists.sort(interfaces)}" class="py-1">
                            <td>
                                <th:block th:replace="~{fragments/reference::frag (${interface})}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${annotations.isEmpty()}">
                <b class="badge bg-info m-1">Annotation summary</b>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="py-1">Annotation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="annotation : ${#lists.sort(annotations)}" class="py-1">
                            <td>
                                <th:block th:replace="~{fragments/reference::frag (${annotation})}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${classes.isEmpty()}">
                <b class="badge bg-info m-1">Class summary</b>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="py-1">Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="class : ${#lists.sort(classes)}" class="py-1">
                            <td>
                                <th:block th:replace="~{fragments/reference::frag (${class})}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${enums.isEmpty()}">
                <b class="badge bg-info m-1">Enum summary</b>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="py-1">Enum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="enum : ${#lists.sort(enums)}" class="py-1">
                            <td>
                                <th:block th:replace="~{fragments/reference::frag (${enum})}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer th:replace="~{fragments/footer}"></footer>
        </div>
    </body>
</html>