@import url("https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-nightfall.min.css");

a {
    color: #3c99dc;
}

a:hover {
    color: #66d3fa;
}

:root {
    --bs-body-bg: #191d21;
}

.card {
    background-color: #191d21;
}

.form-select {
    background-color: #191d21;
}

.form-control {
    background-color: #191d21;
}

.btn-outline-secondary {
    color: #e1e1e1;
}

.hljs {
    color: #969696;
    background-color: #191d21;
}

.dropdown-menu {
    background-color: #191d21;
}

nav.bg-light {
    --bs-bg-opacity: 0;
}

.cmrow {
    border-top-color: #515151!important;
}
